.ocdpw {
    padding: 1em 0;
}

.ocdpw > .ocdpw-random > span {
	display: inline-block;
	float: left;
	font-family: 'Courier New', monospace;
	line-height: 1.6em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 16px;
}

.ocdpw > .ocdpw-random > span:nth-child(2n + 1) {
	clear: both;
}

.ocdpw > .ocdpw-random > span::selection {
	color: #087990;
	background-color: #cff4fc;
}

.ocdpw::after,
.ocdpw > .ocdpw-random::after,
.ocdpw > .ocdpw-feedback::after {
	display: table;
	content: '';
	clear: both;
}

.ocdpw > .ocdpw-feedback > .ocdpw-requirements {
	width: 100%;
	max-width: calc(var(--ocdpw-span-width) - 5px);
	float: left;
	padding-right: 5px;
}

.ocdpw > .ocdpw-feedback > .ocdpw-actions {
	width: 100%;
	max-width: calc(var(--ocdpw-span-width) - 5px);
	float: left;
	padding-left: 5px;
}

.ocdpw > .ocdpw-feedback > .ocdpw-requirements > p {
	clear: both;
	font-size: 15px;
	margin: 0 0 0 0;
	padding: 0.4em 0 0 0;
}

.ocdpw > .ocdpw-feedback > .ocdpw-requirements > p > span {
	color: #b02a37;
	background-color: #f8d7da;
	border: 1px solid #f1aeb5;
	border-radius: 4px;
	padding: 0 0.4em 0 0.4em;
	float: right;
}

.ocdpw > .ocdpw-feedback > .ocdpw-requirements > p > span.ocdpw-good {
	color: #146c43;
	background-color: #d1e7dd;
	border-color: #a3cfbb;
}

.ocdpw > .ocdpw-feedback > .ocdpw-actions > button {
	width: 100%;
}

@media screen and (max-width: 400px) {
	.ocdpw > .ocdpw-random > span {
		font-size: 14px;
	}
}
