.ocdpw h2.shortcode {
	margin-top: 2em;
	padding-top: 3em;
	border-top: 6px dotted #aaa;
}

.ocdpw #shortcode {
	display: block;
	width: auto;
	max-width: 100%;
	margin: 1em 0;
	font-weight: normal;
	font-family: 'Courier New', monospace;
	background-color: #dfdfe0;
	border: none;
	border-radius: 0;
	scroll-direction: horizontal;
	overflow-x: scroll;
}

.ocdpw #copy-success,
.ocdpw #copy-fail {
	color: #146c43;
	background-color: #d1e7dd;
	border: 1px solid #a3cfbb;
	border-radius: 4px;
	padding: 0.3em 0.6em;
	margin-left: 2em;
	display: inline-block;
}

.ocdpw #copy-fail {
	color: #b02a37;
	background-color: #f8d7da;
	border-color: #f1aeb5;
}

.ocdpw .form-table td .set {
	margin-bottom: 1.6em;
}

.ocdpw .form-table td .set label {
	width: 60px;
}

@media screen and (max-width: 782px) {
	.ocdpw .form-table td .set label {
		width: 70px;
	}
}

.ocdpw .form-table td .set label input {
	margin-right: 0;
}

.ocdpw .form-table td .set label span {
	display: inline-block;
	width: 1.1em;
	text-align: center;
}